/* WIP SECTION */

.screen {
    @include centerflex;
    height: 100vh;
    width: 100%;
}
.wip-container {
    @include centerflex;
    align-items: center;
    background-color: #000;
    border: $w1 solid 1px;
    padding: 5rem;
    .mm-logo {
        height: 10rem;
        width: 10rem;
        border-radius: 5rem;
    }
    p {
        font-size: 2rem;
        font-weight: 700;
    }
    .btn-wrap .btn {
        font-size: 1.5rem;
        padding: 1rem;
    }
    @media screen and (max-width: 420px) {
        
    }
}