/*Index Start*/

.index-title-wrap {
    @include centerflex;
    flex-direction: column;
    padding: 3.5rem 0;
    background-image: url(../img/HTWProcks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 720px) and (max-width: 1440px) {padding: 7.5rem 0;}
    @media screen and (min-width: 1440px) {padding: 17rem 0;}
    .headline {
        color: #fff;
        font-weight: 900;
        margin: 0;
        font-size: 1.5rem;
        @media (min-width: 720px) and (max-width: 1440px) {font-size: 2.4rem;}
        @media screen and (min-width: 1440px) {font-size: 3.8rem; font-weight: 900;}
    }
    .subtitle {
        color: #fff;
        font-weight: 800;
        margin: 0 auto;
        font-size: 1rem;
        @media screen and (min-width: 1440px) {font-size: 1.8rem; font-weight: 900;}
    }
    .btn{
        padding: 0.5rem 2rem;
    }
    .btn-wrap {
        margin: 0.6rem 0;
    }
}

/*Benefits List*/

#benef-list-wrap {
    width: auto;
    padding: 0.5rem;
    background-color: #000;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.8rem;
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        @media (min-width: 720px) and (max-width: 1440px) {font-size: 0.8rem;}
        @media screen and (min-width: 1440px) {font-size: 1rem; flex-direction: row;}
        li {
            margin: 0.5rem 0.2rem;
            &::before {
                content: ">> ";
                color: $w2;
            }
        }
    }
}

/* About */

#about-container {
    background-color: #000;
    @include centerflex;
    flex-direction: column;
    height: 40rem;
    img {
        height: 10rem;
        width: 10rem;
    }
    #about-text {
        @include centerflex;
        p {
            color: #fff;
            font-size: 1rem;
            padding: 1rem;
            margin: 0;
            @media screen and (min-width: 720px) {
                padding: 0 20%;
            }
        }
        span {
            color: $g2;
            font-weight: 800;
            font-size: 1.1rem;
        }
    }
}

/* Carousel */

#carousel-container {
    background-color: #fff;
    padding: 1.6rem;
    width: 100%;
    margin: 0 auto;
    p {font-size: 1.2rem; font-weight: 700; text-align: center; color: #000;}
    @media screen and (min-width: 1440px) {width: 40%; p {font-size: 1.4rem;}}
    @media (min-width: 720px) and (max-width: 1440px) {width: 50%; p {font-size: 1rem;}}
}
