/*TopNavBar*/

.active {
    display: flex !important;
}

.navbar {    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    min-height: 3.4rem;
    width: 100%;
    padding: 0;
    @media screen and (min-width: 720px) {flex-direction: row; height: 3.8rem; flex-wrap: nowrap;}
    .mm-logo { margin-left: 1.2rem; }
    .hamburger {
        border: none;
        color: #fff;
        background-color: #000;
        margin-right: 1.2rem;
       
        .fa.fa-bars {
            color: #fff;
            font-size: 1.4rem;
            &:hover{
                color: $w2;
                transition: 0.2;
            }
        }
        @media (min-width: 720px) and (max-width: 1440px) {display: none;}
        @media screen and (min-width: 1440px) {display: none;}
    }
    .navbar-links {
        display: none;
        width: 100%;
        @media screen and (min-width: 720px) {display: flex; flex-direction: row; align-items: center;}
        ul {
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: #000;
            height: 98vh;
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            li {
                list-style: none;
                text-align: center;
                padding: 2rem 0;
                @media screen and (min-width: 720px) {padding: 0.5rem 0;}
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: 0.5s;
                    &:hover {
                        color: $w2;
                        font-weight: bolder;
                    } 
                }
            }
            @media (min-width: 720px) and (max-width: 1440px) {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: 1.2rem;
                height: 3.2rem;
                position: relative;
            }
            @media screen and (min-width: 1440px) {
                display: flex;
                max-height: 3.2rem;
                font-size: 1.4rem;
                justify-content: space-evenly;
                flex-direction: row;
                position: relative;
                li {
                    padding: 0.5rem 2.5rem;
                }
            }
        }
    }
}

