/* Color Defs */

/*$green: #39FF14;*/
$w1: #0c06f7;
$w2: #0096FF;
$g1: #111;
$g2: #555;

/* MIXINS DEFS */

@mixin container {
    background-color: #080808;
    border-radius: 0.5rem;
    border: $w1 solid 1px;
}

@mixin centerflex {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Base HTML style*/

* {
    font-family: montserrat;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: $g1;
    color: #fff;
    margin: 0;
}

.btn {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    background-color: $g2;
    transition: 0.5s;
    border-radius: 0.5rem;
    border: $g2 solid 1px;
}

.btn-wrap {
    padding: 0.5rem 2rem;
}

.mm-logo {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

/* Imports */

@import "topnav";
@import "footer";
@import "index";
@import "training";
@import "forms";
@import "community";
